$background-color: #1e1e1e;

#search-results-container {
	background-color: $background-color;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	width: 100%;
	border: 1px solid white;
	border-top: none;
	padding: 0.3rem;
}

#result {
	background-color: $background-color;
	border-radius: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-decoration: none;
	margin: 0.1rem;
	padding: 0.3rem;
	text-align: left;
}

#result:hover {
	background-color: #3c3c3c;
}
