$background-color: #daa520;

#my-assumptions-header-container,
#my-assumptions-text,
#low-text,
#mid-text,
#high-text {
	background-color: $background-color;
}

#low-text,
#mid-text,
#high-text {
	flex-basis: calc(100% / 3);
}

#my-assumptions-header-container {
	flex-basis: 30%;
	display: flex;
	flex-flow: row wrap;
}

#my-assumptions-text {
	flex-basis: 100%;
	white-space: pre;
	border-bottom: 1px solid white;
}
